.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #04866c;
}

.specific-link{
  color: rgb(228, 0, 11);
}

#app {
  margin-top: 40px;
}

#chart,
#iteration {
  margin: auto;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: rgb(0, 204, 255);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: rgb(95, 236, 255);
}